body{
    background-color: #F9F9FB;
}
img {
    width: 50px;
    height: 50px;
    
}
.Notificacion{
    margin: 100px 100px;
    padding: 30px;
    width: 300px;
    height: 300px;
    background-color: white;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    box-shadow: 0px 0px 5px 1px rgb(202, 182, 182);
}
.tamañonotificacion{
    font-size: 25px;
}
.boton{
    background-color: #588BDA;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid #588BDA;
    border-radius: 5px;
    padding-bottom: 17px;
    box-shadow: 0px 0px 5px 1px rgb(202, 182, 182);

}
